<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

    <style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

    *{
        font-family: "Poppins", sans-serif;
        box-sizing: border-box;
    }

       .baloo{
        font-family: "Baloo Tamma 2", system-ui;

       }
      
       .blink {
            animation: blink 1s infinite;
        }
        @keyframes blink {
            50% { opacity: 0; }
        }

        .active{

            display: block;
        }
        .hidden{
            display: hidden;
        }

        @media (max-width: 778px) {
 
  .sidebar{

    position: absolute;
    width: 50%;
    left:-100%;
    height: 100%;
    will-change: transform;
  }
  .right{
    width: 100%;
    height: 100%;
  }
  .hamburger{

    display: block !important;
    
  }
}
.hamburger{

display: none;
}

    </style>

</head>
<body>

    <nav class="sticky flex justify-between items-center  top-0 bg-white shadow-lg p-1">
            <div class="ml-4 hamburger">
                <img class="w-10" src="../images/DashobardImages/hamburger.svg" alt="">
            </div>
            
        <div>
            <img width="130" src="../images/DashobardImages/logo.png" alt="">
        </div>
        <div class="font bold items-center flex text-3xl">
            <img class="hidden md:block" width="100" src="../images/DashobardImages/dashlogo.png" alt="">
           <b class="font-semibold text-sm  md:text-3xl">Dash</b> <span class="text-lg md:text-5xl text-red-500 font-bold">Board</span>
        </div>
        
        <div class="flex items-center cursor-pointer hidden md:block">
            <button class="text-white flex gap-1 justify-center items-center cursor-pointer hover:scale-105 transition ease-out font-bold border-black border p-0 md:p-2 bg-orange-500 h-[50px] rounded-lg shadow-md"><img class="invert" src="/DashobardImages/user.svg" alt=""><span>Hii Shahid!</span></button>
        </div>
        
    </nav>

    <div class="con mt-4   flex">
        
        <!-- sidebar -->
        <div class="bg-[#2c2927]  ml-3 transition-all duration-600  rounded-xl sidebar w-1/5 h-[455px] border border-2 border-black">

            <div class="flex justify-between p-4">
                <span class="text-white flex gap-1"><img class="invert" width="24" src="../images/DashobardImages/dashboardLogo.svg" alt="">Dashobard</span>
                <img class="invert" src="../images/DashobardImages/setting.svg" alt="settinimg">
            </div>

            <div class="p-2">
                <div class="w-full p-2 rounded-lg flex gap-1  bg-zinc-600">
                    <img class="invert" src="../images/DashobardImages/search.svg" alt="">
                    <span class="text-white">Search</span>

                    
                </div>
                <span class="text-gray-400 mt-8 font-bold">General</span>
            </div>

            <div class="flex flex-col gap-6">

                
                <div onclick="fun('overview',event)" class="sideEle px-4 flex justify-between gap-2 hover:bg-zinc-600  cursor-pointer bg-blue-800 font-sm font-bold mx-4
                rounded-lg p-1 shadow-lg">
                    <div  class="flex gap-2">

                        <img class="invert" src="../images/DashobardImages/overview.svg" alt="">
                        <span  class="text-white  ">Overview</span>
                    </div>
                    <img class="invert" src="../images/DashobardImages/rightarrow.svg" alt="">
                </div>

                <div onclick="fun('start-reporting',event)" class="sideEle px-4 flex justify-between gap-2 hover:bg-zinc-600  cursor-pointer bg-blue-800 font-sm font-bold mx-4
                rounded-lg p-1 shadow-lg">
                    <div class="flex gap-2">

                        <img class="invert" src="../images/DashobardImages/camera.svg" alt="">
                        <span class="text-white">GetStarted</span>
                    </div>
                    <img class="invert" src="../images/DashobardImages/rightarrow.svg" alt="">
                </div>

                <div onclick="fun('history',event)" class="sideEle px-4 flex justify-between gap-2 hover:bg-zinc-600  cursor-pointer bg-blue-800 font-sm font-bold mx-4
                rounded-lg p-1 shadow-lg">
                    <div class="flex gap-2">

                        <img class="invert" src="../images/DashobardImages/history.svg" alt="">
                        <span class="text-white">History</span>
                    </div>
                    <img class="invert" src="../images/DashobardImages/rightarrow.svg" alt="">
                </div>

                <div onclick="fun('earning',event)" class="sideEle px-4 flex justify-between gap-2 hover:bg-zinc-600  cursor-pointer bg-blue-800 font-sm font-bold mx-4
                rounded-lg p-1 shadow-lg">
                    <div class="flex gap-2">

                        <img class="invert" src="../images/DashobardImages/reward.svg" alt="">
                        <span class="text-white">Rewards</span>
                    </div>
                    <img class="invert" src="../images/DashobardImages/rightarrow.svg" alt="">
                </div>

                <div onclick="fun('notification',event)" class="sideEle px-4 flex justify-between gap-2 hover:bg-zinc-600  cursor-pointer bg-blue-800 mx-4 rounded-lg p-1 shadow-lg font-sm font-bold mx-4">
                    <div class="flex gap-2 ">

                        <img class="invert" src="../images/DashobardImages/notify.svg" alt="">
                        <span class="text-white">Notification</span>
                    </div>
                    <img class="invert" src="../images/DashobardImages/rightarrow.svg" alt="">
                </div>

                


            </div>

           

        </div>

       <div class="w-4/5 right border mx-4 borer-black overflow-y-scroll h-[455px]">

       <div id="overview" class="section active">
          
        <h1 class="text-4xl font-bold p-2"><b class="text-purple-700">Comprehensive</b> Summary of your actions!</b></h1>
          <h2 class="font-semibold text-2xl px-2">Total Reports : <b class="text-3xl text-blue-600">6</b></h2>

          <div class="grid grid-cols-1 md:grid-cols-4 gap-2 mt-2 ml-2">

              
              <div class="border borde-2 shadow-xl rounded-xl bg-slate-100  p-2">
                  <h2 class="text-center font-semibold bg-green-400 rounded-lg ">Report ID</h2>
                  <div class="flex flex-col justify-center items-center">
                    <span class="text-sm text-gray-700">4988494</span>
                    <span class="text-sm text-gray-700">4988494</span>
                    <span class="text-sm text-gray-700">4988494</span>
                    <span class="text-sm text-gray-700">4988494</span>
                    <span class="text-sm text-gray-700">4988494</span>
                    <span class="text-sm text-gray-700">4988494</span>
                  </div>
               
                  
                  
                </div>
                
                <div class="border borde-2 shadow-xl rounded-xl bg-slate-100  p-2">
                    <h2 class="text-center font-semibold bg-green-400 rounded-lg ">Number Plate</h2>
                    <div class="flex flex-col justify-center items-center">
                      <span class="text-sm text-gray-700">MH-12 ASD 5322</span>
                      <span class="text-sm text-gray-700">MH-12 ASD 5322</span>
                      <span class="text-sm text-gray-700">MH-12 ASD 5322</span>
                      <span class="text-sm text-gray-700">MH-12 ASD 5322</span>
                      <span class="text-sm text-gray-700">MH-12 ASD 5322</span>
                      <span class="text-sm text-gray-700">MH-12 ASD 5322</span>
                    </div>
           
          
        </div>
        
        <div class="border borde-2 shadow-xl rounded-xl bg-slate-100  p-2">
            <h2 class="text-center font-semibold bg-green-400 rounded-lg ">Image</h2>
            <div class="flex flex-col justify-center items-center">
              <span class="text-sm text-gray-700">https://img.jpg</span>
              <span class="text-sm text-gray-700">https://img.jpg</span>
              <span class="text-sm text-gray-700">https://img.jpg</span>
              <span class="text-sm text-gray-700">https://img.jpg</span>
              <span class="text-sm text-gray-700">https://img.jpg</span>
              <span class="text-sm text-gray-700">https://img.jpg</span>
            </div>            
            
            
        </div>
        <div class="border borde-2 shadow-xl rounded-xl bg-slate-100  p-2">
            <h2 class="text-center font-semibold bg-green-400 rounded-lg ">Status</h2>
                  <div class="flex flex-col justify-center items-center">
                    <span class="text-sm text-gray-700">Pending</span>
                    <span class="text-sm text-gray-700">Pending</span>
                    <span class="text-sm text-gray-700">Rejected</span>
                    <span class="text-sm text-gray-700">Rejected</span>
                    <span class="text-sm text-gray-700">Approve</span>
                    <span class="text-sm text-gray-700">Approve</span>
                  </div>
           
          
            
        </div>
        
        
    </div>

       </div>

       <div id="start-reporting" class="section hidden">

        <h1 class="text-4xl mt-2 text-center font-bold blink">Important Rules for <span class="text-orange-500">Reporting Violations</span></h1>

        <div class="mx-10 md:mx-20 flex flex-col mt-4 gap-3">
            <h2><span class="font-bold text-2xl "> <b class="text-red-500">Clear & Visible License Plate </b>- </span><span class="text-gray-700 font-semibold">The vehicle’s number plate must be fully visible and readable.</span></h2>
            <h2><span class="font-bold text-2xl "><b class="text-green-500">No Blurry Images</b> - </span> <span class="text-gray-700 font-semibold">Blurry or unclear images will not be accepted.</span></h2>
            <h2><span class="font-bold text-2xl "> <b class="text-blue-600">Include Surroundings </b>- </span> <span class="text-gray-700 font-semibold">Capture the vehicle along with nearby elements like roads, signs, and landmarks for better context.</span></h2>
            <h2><span class="font-bold text-2xl "> <b class="text-purple-500">No Edited Images</b> - </span><span class="text-gray-700 font-semibold">Only original, unedited images are allowed. Avoid using filters or modifications.</span></h2>
        </div>
        <div class="flex justify-center mt-4 p-2">
            <a href="/rendermain/<%=id%>"><button class="bg-gradient-to-r from-blue-500 via-purple-500 to-pink-500 w-54 rounded-xl cursor-pointer hover:scale-105 transition ease-in font-bold flex gap-1 p-2">Start Reporting Now <img src="../images/DashobardImages/next.svg" alt="forward"></button></a>
        </div>

       
       </div>

       <div id="history" class="section hidden">
        <h2 class="p-2 text-4xl font-bold">History!</h2>
        <div class="grid grid-cols-1 md:grid-cols-4 gap-2 mt-2 ml-2">

              
            <div class="border borde-2 shadow-xl rounded-xl p-2 bg-slate-100">
                <h2 class="text-center font-semibold bg-yellow-500 rounded-lg">Report ID</h2>
                <div class="flex flex-col justify-center items-center">
                  <span class="text-sm text-gray-700">1988494</span>
                  <span class="text-sm text-gray-700">5988494</span>
                  <span class="text-sm text-gray-700">3288494</span>
                  <span class="text-sm text-gray-700">6988494</span>
                
                </div>
             
                
                
              </div>
              
              <div class="border borde-2 shadow-xl rounded-xl p-2 bg-slate-100">
                  <h2 class="text-center font-semibold bg-yellow-500 rounded-lg">Captured Time</h2>
                  <div class="flex flex-col justify-center items-center">
                    <span class="text-sm text-gray-700">03:27 PM

                    </span>
                    <span class="text-sm text-gray-700">11:45 AM</span>
                    <span class="text-sm text-gray-700">07:13 PM</span>
                    <span class="text-sm text-gray-700">02:56 AM</span>
                
                  </div>
         
        
      </div>
      
      <div class="border borde-2 shadow-xl rounded-xl p-2 bg-slate-100">
          <h2 class="text-center font-semibold bg-yellow-500 rounded-lg">Image</h2>
          <div class="flex flex-col justify-center gap-3 my-2                                                                                                    items-center">
            <span class="text-sm text-gray-700"><img width="50" src="../images/DashobardImages/vechicle1.webp" alt=""></span>
            <span class="text-sm text-gray-700"><img width="50" src="../images/DashobardImages/vechile2.webp" alt=""></span>
            <span class="text-sm text-gray-700"><img width="50" src="../images/DashobardImages/vechile3.webp" alt=""></span>
            <span class="text-sm text-gray-700"><img width="50" src="../images/DashobardImages/vechile4.webp" alt=""></span>
          </div>            
          
          
      </div>
      <div class="border borde-2 shadow-xl rounded-xl p-2 bg-slate-100">
          <h2 class="text-center font-semibold bg-yellow-500 rounded-lg">Date</h2>
                <div class="flex flex-col justify-center items-center">
                  <span class="text-sm text-gray-700">April 15, 2023</span>
                  <span class="text-sm text-gray-700">September 7, 2021</span>
                  <span class="text-sm text-gray-700">June 22, 2020</span>
                  <span class="text-sm text-gray-700">June 22, 2020</span>
                </div>
         
        
          
      </div>
      
      
  </div>
       </div>

       <div id="earning" class="section hidden">
        I am the earning section
       </div>

       <div id="notification" class="section hidden">
        I am the notification section
       </div>


       </div>

    </div>

    <script>

        let openSidebar = false;
        function fun(sectionId,event){


            let spans = document.getElementsByClassName("section")
            let sidebarElements = Array.from(document.getElementsByClassName("sideEle"))
            

            let arr = [...spans]
           
            //remove if active and add hidden
            arr.forEach((e,idx)=>{
                
                e.classList.remove('active')
                e.classList.add('hidden')
            })
     

            //remove color and add default color
            sidebarElements.forEach((ele)=>{

                ele.style.backgroundColor = "#1e40af";
            })
            
            
            document.getElementById(sectionId).classList.remove('hidden')
            document.getElementById(sectionId).classList.add('active')
            event.currentTarget.style.backgroundColor = "green";
            
        }

        document.getElementsByClassName("hamburger")[0].addEventListener("click",()=>{

            if(openSidebar){

                document.getElementsByClassName("sidebar")[0].style.left = "-100%";
                document.getElementsByClassName("sidebar")[0].style.zIndex = "0";
                openSidebar = false;
            }

            else{

                document.getElementsByClassName("sidebar")[0].style.left = "0";
                document.getElementsByClassName("sidebar")[0].style.zIndex = "10";
                openSidebar = true;
            }

        })
    </script>


    
</body>
</html>