<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snap And Report</title>

    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

        *{
            font-family: "Baloo Bhai 2", sans-serif;
        }

        .blink {
            animation: blink .8s infinite;
        }
        @keyframes blink {
            50% { opacity: 0; }
        }

       @keyframes appear {

        from{
            opacity: 0;
            scale: 0;
        }
        to{
            opacity: 1;
            scale: 1;
        }
        
        
       }
       .blockB{
        animation: appear  linear;
        animation-timeline: view();
        animation-range: entry 0 cover 20%;

       }

        </style>
</head>
<body  class="bg-[url('/images/bgimages/back3.webp')] bg-cover bg-center">

    <div class="con mb-12">

        
        <nav class="sticky flex justify-between  top-0 bg-slate-300 shadow-lg p-1 z-10  ">
            
            
            <div >
                <img width="130" src="../images/homepageImages/logo.png" alt="logosnr">
            </div>
            <div class="font bold items-center flex">
               <span class="text-md font-medium text-black hidden md:block  "> Your Role in Better Traffic Management Starts Here –</span> <span class="text-2xl font-bold text-red-500 blink">Report With One Click</span>
            </div>
            
            <div class="flex items-center gap-4 cursor-pointer">
                <button class="text-white cursor-pointer hover:scale-105 transition ease-out font-bold border-black border p-2 bg-green-500 h-[50px] rounded-lg shadow-md hidden md:block">About Us!</button>
                <a href="/login"><button class="text-white cursor-pointer hover:scale-105 transition ease-out font-bold border-black border p-2 bg-blue-500 h-[50px] rounded-lg shadow-md">Register/Login</button></a>
            </div>
            
            
        </nav>
        

    <div class="blockB bg-[#2c2927] border w-[90vw] ml-6 flex flex-col md:flex-row items-center md:items-start md:ml-14  rounded-xl  h-[600px] md:h-[400px] mt-6">

                <div class="flex flex-col text-white gap-6 m-5 w-[500px]">

                <h1 class="text-xl md:text-5xl lg:text-6xl font-bold text-center md:text-left">

                    <b class="text-green-500">S</b>omething need fixing?
                </h1>
                <h3 class="break-words whitespace-normal mx-20 md:mx-0 text-center md:text-left font-semibold ">
                   <p class="text-center md:text-left text-purple-500">Our Goal: Clear Roads, Better Cities!</p>
                   <p class="text-center md:text-left">We aim to support the government in enforcing parking regulations, reducing congestion, and ensuring safer, more organized public spaces through citizen-driven reporting.</p>
                </h3>
                
                <div class="flex flex-col justify-center gap-2">

                    <h4 class="ml-12 text-center md:text-left">
                        Get the app and start Snapping
                    </h4>
                    <div class="text-center md:text-left flex gap-5 justify-center md:justify-start">
                        <button class="w-[140px] cursor-pointer">
                            <img src="../images/homepageImages/apple.svg" alt="">
                        </button>
                        <button class="w-[140px] cursor-pointer">
                            <img src="../images/homepageImages/googleplay.svg" alt="">
                        </button>
                    </div>
                </div>

            </div>

            <div class="" >

                <img class=" w-[200px] h-[200px]  md:w-[400px] md:h-[400px]" src="../images/homepageImages/mainlogo.svg" alt="not found">
         </div>

            </div>

          
        
            <div class="flex flex-col gap-3 mt-14 items-center mx-10  md:mx-30 bg-slate-200 p-5 rounded-xl blockB">
                <p class=" text-2xl md:text-5xl font-bold"><b class="text-green-500">P</b>ark it wrong, it won’t stay long—snap and report, make <span class="text-blue-400">roads strong!</span> </p>

                <h2 class="text-gray-500 font-medium flex gap-3 items-center ">Anywhere in India <img width="40"s src="../images/homepageImages/indianLogo.svg" alt="indian logo"> anytime.</h2>
                <button class="border p-3 border-2 border-black cursor-pointer hover:scale-105 transition ease-out bg-purple-500 text-white font-semibold rounded-xl ">Start Snapping</button>
            </div>

            <div class="mx-10 md:mx-20 mt-10 blockB">
                <div class="text-center my-6">

                    <span class="bg-yellow-500 font-medium p-1 rounded-lg">How it works</span>
                    <h2 class="mt-4 text-5xl font-bold text-white">How Snap Send Report Works</h2>
                </div> 

                <div class=" flex flex-col md:flex-row gap-10">

                    <div class="bg-slate-100 rounded-xl flex flex-col justify-center items-center shadow-xl ">
                        <img class="rounded-xl" width="350" src="../images/homepageImages/img1.webp" alt="">
                        <p class="flex flex-col items-center p-4 justify-center">
                            <span class="font-bold text-2xl">Snap</span>
                            Spotted an issue? Snap to help get it fixed!
                        </p>
                    </div>

                    <div class="bg-slate-100 rounded-xl flex flex-col justify-center items-center shadow-xl">
                        <img class="rounded-xl" width="300" height="300" src="../images/homepageImages/img2.webp" alt="">
                        <p class="flex flex-col items-center p-4">
                            <span class="font-bold text-2xl">Report</span>
                            Send a report on the spot. No clunky forms or hold times.
                        </p>
                    </div>

                    <div class="bg-slate-100 rounded-xl flex flex-col justify-center items-center shadow-xl ">
                        <img class="rounded-xl" width="300" src="../images/homepageImages/img3.avif" alt="">
                        <p class="flex flex-col items-center p-4">
                            <span class="font-bold text-2xl">Solve</span>
                            We'll get it to the right place so it can get Solved!
                        </p>
                    </div>


                </div>
               


            </div>
        
            <footer class="mt-10 mx-10 md:mx-20 ">
                <div class="flex gap-14 ">

                  <div class="text-gray-500 cursor-pointer">
                    <p class="hover:underline text-lg font-bold mb-2">Snappers</p>
                    <div class="flex flex-col gap-2">

                        <p class="hover:underline hover:scale-100 hover:text-blue-500 text-sm">What is a Snapper?</p>
                        <p class="hover:underline hover:scale-100 hover:text-blue-500 text-sm">What to Snap</p>
                        <p class="hover:underline hover:scale-100 hover:text-blue-500 text-sm">Where to Snap</p>
                        <p class="hover:underline hover:scale-100 hover:text-blue-500 text-sm">Events</p>
                        <p class="hover:underline hover:scale-100 hover:text-blue-500 text-sm">Snapper Kit</p>
                    </div>
                  </div>

                  <div class="text-gray-500 cursor-pointer ">
                    <div class="flex flex-col gap-2">

                        <p class="hover:underline text-lg font-bold mb-1">Solvers</p>
                        <p class="hover:underline hover:scale-100 hover:text-blue-500 text-sm">Who are our Solvers?</p>
                        <p class="hover:underline hover:scale-100 hover:text-blue-500 text-sm">Local Government</p>
                        <p class="hover:underline hover:scale-100 hover:text-blue-500 text-sm">Utilities</p>
                        <p class="hover:underline hover:scale-100 hover:text-blue-500 text-sm">Solver Kit</p>
                        <p class="hover:underline hover:scale-100 hover:text-blue-500 text-sm">Snap Send Solve Pro Trial</p>
                    </div>
                  </div>

                  <div class="text-gray-500 cursor-pointer  hidden md:block " >
                    <p class="hover:underline text-lg font-bold mb-2">About Us
                    </p>
                    <div class="flex flex-col gap-2">

                        <p class="hover:underline hover:scale-100 hover:text-blue-500 text-sm">About us</p>
                        <p class="hover:underline hover:scale-100 hover:text-blue-500 text-sm">In the media</p>
                        <p class="hover:underline hover:scale-100 hover:text-blue-500 text-sm">Case Studies</p>
                        <p class="hover:underline hover:scale-100 hover:text-blue-500 text-sm">Our Business Model</p>
                        <p class="hover:underline hover:scale-100 hover:text-blue-500 text-sm">Collaborate with us</p>
                    </div>
                </div>
                  
                  <div class="text-gray-500 cursor-pointer hidden md:block">
                    <p class="hover:underline text-lg font-bold mb-2">Support
                    </p>
                    <div class="flex flex-col gap-2">

                        <p class="hover:underline hover:scale-100 hover:text-blue-500 text-sm">Help Centre</p>
                        <p class="hover:underline hover:scale-100 hover:text-blue-500 text-sm">In the media</p>
                        <p class="hover:underline hover:scale-100 hover:text-blue-500 text-sm">Refer a friend</p>
                        <p class="hover:underline hover:scale-100 hover:text-blue-500 text-sm ">Solver Portal</p>
                        <p class="hover:underline hover:scale-100 hover:text-blue-500 text-sm">Contact us
                        </p>
                    </div>
                </div>

                  
                  <div class="">
                      <img width="240" src="../images/homepageImages/snapandreportLogo.png" alt="snapandrepot logo">
                  </div>
                </div>

                <div class="w-full border border-black">

                </div>

                <div class="flex justify-between items-center gap-2 mt-6 mx-6 md:mx-20">
                    
                    <div class="flex md:gap-2 justify-center items-center gap-5">
                        <div class="flex gap-2">
                            <img class="cursor-pointer invert" width="50" src="../images/homepageImages/facebook.svg" alt="">
                            <img class="cursor-pointer invert" width="50" src="../images/homepageImages/instagram.svg" alt="">
                            <img class="cursor-pointer invert" width="50" src="../images/homepageImages/linkedin.svg" alt="">
                        </div>
                        
                        <p class="bg-gray-100 text-sm md:text-lg  text-center h-8"> Copyright © 2025 Snap Send Report Pty Ltd</p>
                    </div>
                    
                    <div class="flex gap-2">
                        <p class="text-white">Privacy Policy</p>
                        <p class="text-white">Terms of Use</p>
                    </div>

                </div>

            </footer>

    </div>
    
    
</body>
</html>
